@tailwind base;
@tailwind components;

@layer components {
  .border-light {
    @apply border-slate-950 border-opacity-20;
  }
  .border-dark {
    @apply border-slate-50 border-opacity-20;
  }
  .border-color {
    @apply border-light dark:border-dark;
  }
  .color-text {
    @apply !text-slate-950 dark:!text-slate-50;
  }
  .color-text-reverse {
    @apply !text-slate-50 dark:!text-slate-950;
  }
  .color-bg-primary {
    @apply !bg-slate-100 dark:!bg-slate-950;
  }
  .color-bg-secondary {
    @apply !bg-white dark:!bg-slate-900;
  }
  .color-bg-thirty {
    @apply !bg-slate-50 dark:!bg-slate-950;
  }
  .color-bg-reverse {
    @apply !bg-slate-950 dark:!bg-slate-100;
  }
  .color-shadow {
    @apply shadow-md  shadow-slate-500/80 dark:shadow-sky-900/80;
  }
  .absolute-full {
    @apply absolute top-0 bottom-0 left-0 right-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn-anim-opacity {
    @apply opacity-70 hover:opacity-100 transition;
  }
  .btn-control-sidebar {
    @apply size-6 flex-center color-text !bg-slate-50 dark:!bg-slate-800 color-shadow !rounded-full;
  }
  .btn-hamburguer {
    @apply !block lg:!hidden color-text;
  }
  .btn-theme {
    @apply hidden ssm:block btn-control-sidebar btn-anim-opacity !p-[.1rem];
  }
  .menu-mobile {
    @apply block lg:hidden w-full ssm:w-60 absolute top-0 z-20;
  }
  /* LOGO PROJECT */
  .logo-content {
    @apply h-10 px-2 flex fixed top-4 lg:top-10;
  }
  .logo-content .custom-icon {
    @apply size-12 rounded-full color-bg-reverse color-text-reverse relative;
  }
  .custom-icon .span-ex {
    @apply text-2xl absolute left-2;
  }
  .custom-icon .span-c {
    @apply text-xs text-right absolute font-bold right-3 bottom-2;
  }
  /* SIDEBAR */
  .sidebar {
    @apply fixed !h-screen !w-full;
  }
  /* AQUI */
  .sidebar-container {
    /* @apply absolute-full color-bg-primary border-r border-color !bg-blue-800; */
    @apply absolute-full border-r border-color !bg-blue-800;
  }
  .sidebar-items {
    @apply fixed top-[7rem] lg:top-[8rem] w-full ssm:w-60 lg:w-[16.1rem];
  }
  .sidebar-item {
    @apply !py-4 !rounded-none hover:!bg-slate-600 hover:!bg-opacity-30 dark:hover:bg-slate-300 dark:hover:!bg-opacity-30 my-2 font-thin;
  }
  .sidebar-items ul a.active .sidebar-item {
    /* border-left: 2px solid white; */
    @apply border-l-4 border-blue-800 px-[0.23rem] text-blue-800 font-bold dark:border-blue-500 dark:text-blue-500;
  }
  .sidebar-item-icon {
    @apply text-2xl font-thin mr-6;
  }
  /* AQUÍ */
  .sidebar-btns {
    @apply absolute right-[-.8rem] top-[7rem] lg:top-20 flex flex-col gap-2 z-50;
  }
  .sidebar-gradient {
    @apply absolute rounded-full;
  }
  /* Dashboard */
  .content-main {
    @apply w-full min-h-screen color-bg-secondary z-10;
  }
  /* Others */
  .transition-150 {
    @apply transition-all delay-150;
  }
  /* HEADER */
  .header {
    @apply w-full py-3 px-1 ssm:py-3 sm:px-7 flex justify-between border-b border-color;
  }
  .img-avatar {
    @apply border-2 p-[.2rem] border-violet-400 !rounded-full;
  }
  .avatar-dropdown {
    @apply flex color-text items-center gap-1 cursor-pointer;
  }

  /* SECTIONS */
  .page-container {
    @apply w-full py-3 px-2 ssm:py-3 ssm:px-7;
  }
  .gradient-sidebar {
    background: transparent;
    background: -webkit-linear-gradient(
      to bottom,
      rgb(14 159 110),
      rgb(63 131 248)
    );
    background: linear-gradient(to bottom, rgb(14 159 110), rgb(63 131 248));
    animation: anim infinite 1.5s alternate;
  }
  .gradient-card {
    background: transparent;
    transform: rotate(150deg) !important;
    background: -webkit-linear-gradient(
      to bottom,
      rgb(3, 43, 70),
      rgb(117, 37, 104)
    );
    background: linear-gradient(
      to bottom,
      rgb(110, 189, 241),
      rgb(245, 142, 228)
    );
    animation: anim infinite 1.5s alternate;
  }
  .gradient-card-dark {
    background: transparent;
    transform: rotate(150deg) !important;
    background: -webkit-linear-gradient(
      to bottom,
      rgb(3, 43, 70),
      rgb(117, 37, 104)
    );
    background: linear-gradient(to bottom, rgb(3, 43, 70), rgb(117, 37, 104));
    animation: anim infinite 1.5s alternate;
  }

  @keyframes anim {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
}
@tailwind utilities;
* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}
