@tailwind base;

* {
  scrollbar-width: thin;
}
@tailwind components;

@layer components {
  .border-light {
    @apply border-slate-950 border-opacity-20;
  }
  .border-dark {
    @apply border-slate-50 border-opacity-20;
  }
  .border-color {
    @apply border-light dark:border-dark;
  }
  .color-text {
    @apply !text-slate-950 dark:!text-slate-50;
  }
  .color-text-reverse {
    @apply !text-slate-50 dark:!text-slate-950;
  }
  .color-bg-primary {
    @apply !bg-slate-100 dark:!bg-slate-950;
  }
  .color-bg-secondary {
    @apply !bg-white dark:!bg-slate-900;
  }
  .color-bg-thirty {
    @apply !bg-slate-50 dark:!bg-slate-950;
  }
  .color-bg-reverse {
    @apply !bg-slate-950 dark:!bg-slate-100;
  }
  .color-shadow {
    @apply shadow-md  shadow-slate-500/80 dark:shadow-sky-900/80;
  }
  .absolute-full {
    @apply absolute top-0 bottom-0 left-0 right-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn-anim-opacity {
    @apply opacity-70 hover:opacity-100 transition;
  }

  .btn-hamburguer {
    /* bg-transparent color-text hover:!bg-slate-300 hover:!bg-opacity-20 transition */
    @apply !block lg:!hidden color-text !bg-transparent hover:!bg-slate-300 hover:!bg-opacity-20 transition;
  }
  .btn-theme {
    @apply !rounded-full !p-[.1rem] size-10 flex-center !bg-transparent color-text hover:!bg-slate-300 hover:!bg-opacity-20 transition;
  }
  .btn-theme svg {
    @apply scale-150;
  }
  .menu-mobile {
    @apply block fixed lg:hidden w-full ssm:w-60 z-20;
  }
  /* LOGO PROJECT */
  .logo-content {
    @apply h-10 px-2 xl:px-4 flex fixed top-4 lg:top-10;
  }
  .logo-content .custom-icon {
    @apply size-12 rounded-full color-bg-reverse color-text-reverse relative 2xl:ml-6 mr-6 lg:mr-2 2xl:mr-4;
  }
  .custom-icon .span-ex {
    @apply text-2xl absolute left-2;
  }
  .custom-icon .span-c {
    @apply text-xs text-right absolute font-bold right-3 bottom-2;
  }
  /* SIDEBAR */
  .sidebar {
    @apply fixed !h-screen !w-full;
  }
  .sidebar-container {
    @apply absolute-full color-bg-primary;
  }
  .sidebar-items {
    @apply fixed top-[7rem] lg:top-[8rem] w-full;
  }
  .sidebar-item {
    @apply !py-4 !rounded-none hover:!bg-slate-600 hover:!bg-opacity-30 dark:hover:bg-slate-300 dark:hover:!bg-opacity-30 my-2 font-thin;
  }
  .sidebar-items ul a.active .sidebar-item {
    @apply border-l-4 border-blue-800 px-[0.23rem] text-blue-800 dark:border-blue-500 dark:text-blue-500;
  }
  .sidebar-item-icon {
    @apply text-2xl px-0 2xl:text-[2.5rem] 2xl:px-3 font-thin mr-6 lg:mr-8 2xl:mr-6;
  }
  .sidebar-gradient {
    @apply relative rounded-full;
  }
  /* Dashboard */
  .content-main {
    /* w-80 2xl:w-[30rem] */
    @apply w-full min-h-screen color-bg-secondary z-10;
  }
  /* Others */
  .transition-150 {
    @apply transition-all delay-150;
  }
  /* HEADER */
  .header {
    @apply w-full py-3 px-1 ssm:py-3 sm:px-7 flex justify-between border-b border-color;
  }
  .img-avatar {
    @apply border-2 p-[.2rem] border-violet-400 !rounded-full;
  }
  .avatar-dropdown {
    @apply flex color-text items-center gap-1 cursor-pointer;
  }

  /* SECTIONS */
  .page-container {
    @apply w-full py-3 px-2 ssm:py-3 ssm:px-7;
  }
  /* ------------------- CARDS --------------------  */
  .cards-resume-app {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mb-4;
  }
  .card-title {
    @apply text-sm tracking-tight mr-0 ssm:mr-6;
  }
  .cards-resume-app .card-icon {
    @apply hidden ssm:flex flex-center absolute top-5 right-1 size-10 rounded-full text-2xl;
  }
  .card-info {
    @apply color-bg-thirty border-none mb-4 h-[20rem] lg:h-[17.5rem] xl:h-[20rem] 2xl:h-[25rem] color-text relative;
  }
  .card-info .card-span {
    @apply absolute left-4 top-4 flex items-center gap-2 text-sm;
  }
  .card-info .card-title {
    @apply my-2 text-lg font-bold tracking-tight;
  }
  .card-info .card-description {
    @apply text-sm font-normal mb-5 hidden ssm:block lg:hidden xl:block;
  }

  /* ------------------- TABLE --------------------  */
  .table-cell {
    @apply whitespace-nowrap font-medium;
  }
  .table-color {
    @apply flex justify-center;
  }
  .table-color span {
    @apply size-6 rounded-full flex-center text-white;
  }

  /* ------------------- DASHBOARD PAGE --------------------  */
  .content-dashboard {
    @apply grid grid-cols-12 gap-4;
  }
  .content-dashboard .cards-info {
    @apply col-span-12 lg:col-span-6;
  }
  .content-dashboard .charts-content {
    @apply col-span-12 lg:col-span-6;
  }
  .charts-content .chart-size {
    @apply h-[15rem] sm:h-[25rem] md:h-[17.5rem] xl:h-[20rem] 2xl:h-[25rem] flex-center p-1 xl:p-4 color-bg-thirty rounded-lg;
  }
  /* ------------------- INCOME PAGE --------------------  */
  .content-full {
  }

  /* ------------------- AUTH PAGES --------------------  */
  .bg-image div {
    background-image: radial-gradient(
      rgb(2 6 23),
      hsl(229, 84%, 5%) 10%,
      rgba(0, 255, 255, 0) 56%
    );
  }
  .bg-image-dark div {
    background-image: radial-gradient(
      #9ff,
      #9ff 10%,
      rgba(233, 240, 240, 0) 56%
    );
  }
  .container-animation {
    @apply size-full overflow-hidden relative;
  }
  .auth-container {
    @apply w-[20rem] md:w-[28rem] lg:w-[32rem] h-auto rounded-md !bg-opacity-40 p-5 lg:p-10;
  }

  /* ------------------ CATEGORY PAGE ------------------- */
  .bg-expense {
    @apply bg-red-600;
  }
  .bg-income {
    @apply bg-green-600;
  }
}
@tailwind utilities;
* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}
